# python environment
.venv

# Result files
outputs

# Python cache files
__pycache__

# State of the art
estadoDelArte.aux
estadoDelArte.log
estadoDelArte.out
estadoDelArte.fls 
estadoDelArte.fdb_latexmk
estadoDelArte.synctex.gz

# docs 
docs/.obsidian

# results 
src/outputs_analytical
src/benchmark_results

# plan
entrega_semanal.aux
entrega_semanal.fdb_latexmk
entrega_semanal.fls 
entrega_semanal.log
entrega_semanal.synctex.gz

# entrega semanal 2
entrega_semanal2.aux
entrega_semanal2.fdb_latexmk
entrega_semanal2.fls 
entrega_semanal2.log
entrega_semanal2.synctex.gz

# entrega semanal 3
entrega_semanal3.aux
entrega_semanal3.fdb_latexmk
entrega_semanal3.fls
entrega_semanal3.log
entrega_semanal3.synctex.gz

# fernando
progreso.aux
progreso.fdb_latexmk
progreso.fls
progreso.log
progreso.out
progreso.synctex.gz
progreso.toc