# python environment
.venv

# Result files
outputs

# Python cache files
__pycache__

# State of the art
estadoDelArte.aux
estadoDelArte.log
estadoDelArte.out
estadoDelArte.fls 
estadoDelArte.fdb_latexmk
estadoDelArte.synctex.gz